<div class="container pb-5">
    <div class="text-center">
      <h1 class="display-2">About</h1>
    </div>

    <div class="text-center">
        <h4>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので</br>
        「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</h4>
    </div>

    <div class="text-center mt-3 mb-5">
      <%= image_tag "1234.jpeg", class: "img-fluid rounded", size: '600x600' %>
    </div>

</div>