<div class="container">
    <div class="text-center">
      <h1 class="display-2">About</h1>
    </div>

    <div class="text-center">
        <h3>ながのCAKEは全国発送可能なケーキ屋さんです。</br>
        お子様からお年寄りの方までお召し上がりいただけるよう、</br>
        様々なバリエーションをご用意しております。</br>
        また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</br>
        ぜひご注文ください。</h3>
    </div>

    <div class="text-center">
      <%= image_tag "1234.jpeg", class: "img-fluid rounded", size: '400x400' %>
    </div>

