<div class="container">
  <div class="row">

      <div class="card">
        <%= image_tag "1234.jpg" %>
          <div class="card-img-overlay align-items-center d-flex justify-content-center">
            <div class="col-md-8 border border-dark bg-white">
              <strong><h5>ようこそ、ながのCAKEへ！<br>
              このサイトは、ケーキ販売のECサイトになります。<br>
              会員でない方も商品の閲覧はできますが、<br>
              購入には会員登録が必要になります。</h5></strong>
            </div>
          </div>
      </div>





  </div>
</div>