
 <div class="container">
    <div class="row">
      <div class="col-sm-4">
         <h2>ログイン</h2>
      </div>
    </div>

      <div class="row">
        <div class="col-sm-1"></div>
          <h4>会員の方はこちらからログイン</h4>
        </div>
      </div>
 </div>


    <%= form_with model: @customer, url: customer_registration_path, id: 'new_customer', class: 'new_customer', local: true do |f| %>
      <div class="container">
        <div class="text-center my-5" >
           <div class="row">
            <div class="col-sm-6">メールアドレス</div>
             <div class="col-sm-5">
               <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
             </div>
           </div>

           </br>

            <div class="row">
              <div class="col-sm-6">パスワード</div>
               <div class="col-sm-5">
                  <%= f.password_field :password, autocomplete: "current-password" %>
               </div>
            </div>

           </br>

             <div class="actions">
                <%= f.submit "ログイン", class:"btn btn-sm btn-outline-danger" %>
             </div>
       </div>
     </div>
    <% end %>