<!--<table class="table">-->
  <!--<tr>-->
    <!--ジャンル検索-->
  <!--</tr>-->
  <!--<tr>-->
    <%#= link_to 'ケーキ', user %>
  <!--</tr>-->
  <!--<tr>-->
    <%#= link_to '焼き菓子', user %>
  <!--</tr>-->
  <!--<tr>-->
    <%#= link_to 'プリン', user %>
<!--  </tr>-->
<!--  <tr>-->
<!--    <%#= link_to 'キャンディ', user %>-->
<!--  </tr>-->
<!--</table>-->