<footer class="text-center pt-3 pb-1 fixed-bottom" style="background-color:#F6E8E8;">
  <div class="container">
    <div class="row no-gutters">
      <div class="col">
        <p style="color:#213458;">ながのCAKE</p>
      </div>
    </div>
  </div>
</footer>